::placeholder {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navBar {
	position: relative;
	width: 100%;
	margin-bottom: 91px;
	letter-spacing: 1.2px;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;
	align-items: center;
	z-index: 1000;
	background-color: #0F1111;
}

.logo-nav {
	width: 100px;
	height: 65px;
	margin-left: 10px;
	margin-right: 5px;
}

.search-nav {
	margin-left: 50px;
}

.search-field-nav {
	position: relative;
	margin-right: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: none;
	padding: 19px;
	width: 400px;
	height: 25px;
}

.search-btn-nav {
	margin-left: -1px;
	height: 38px;
	margin-bottom: 5px;
	border: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

@media all and (max-width: 1106px) {
	.navBar {
		margin-bottom: 113px;
	}
}

@media all and (max-width: 991px) {
	.navBar {
		position: 'none';
		width: '100%';
		margin-bottom: 89px;
	}

	.search-field-nav {
		position: relative;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border: none;
		padding: 20px;
		width: 80%;
		height: 25px;
		margin: 25px 0 15px 0;
	}

	.search-btn-nav {
		margin-left: -1px;
		height: 40px;
		margin-bottom: 5px;
		border: none;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.sign-in-nav {
		font-size: 20px;
		margin-left: 40px;
	}

	.register-nav {
		font-size: 15px;
		margin-left: 50px;
	}

	.order-nav {
		padding-left: 45px;
		padding-top: 1px;
		padding-bottom: 1px;
		font-size: 20px;
	}

	.cart-nav {
		padding-left: 44px;
		padding-top: 5px;
		padding-bottom: 10px;
		font-size: 20px;
	}

	.products-nav {
		margin-right: auto;
	}
}

@media all and (max-width: 810px) {
	.navBar {
		margin-bottom: 85px;
	}
}

@media (max-width: 504px) {
	.products-nav {
		padding-right: auto;
	}
}

@media all and (max-width: 350px) {
	.navBar {
		margin-bottom: 80px;
	}
}

.sign-in-nav {
	font-size: 20px;
	color: #d0d0d0;
}

.register-nav {
	font-size: 15px;
	color: #d0d0d0;

}

.sign-nav {
	padding-left: 10px;
	padding-right: 10px;
}

.order-nav {
	margin: 12px 2px 8px 2px;
	font-size: 20px;
	color: #d0d0d0;

}

.cart-nav {
	margin: 12px 4px 0 3px;
	font-size: 20px;
	color: #d0d0d0;

}

.nav-item:hover {
	border: 1px solid #d0d0d0;
}

.products-nav {
	font-size: 20px;
	color: #d0d0d0;
	text-decoration: none;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 18px;
	padding-bottom: 20px;
}

.products-nav:hover {
	border: 1px solid #d0d0d0;
	text-decoration: none;
	color: #d0d0d0;
}