.product-container {
	display: flex;
	width: 100%;
	margin-top: 2%;
	flex-wrap: wrap;
	justify-content: center;
}

.productCard {
	width: 18vmax;
	display: flex;
	flex-direction: column;
	text-decoration: none!important;
	margin: 1.5vmax;
	margin-bottom: 2.5vmax;
	transition: all 0.5s;
	padding-bottom: 1vmax;
	background-color: #e0f4ef;
	border-radius: 15px;
}

.productCard img {
	width: 18vmax;
	height: 22vmax;
	margin-bottom: 10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.productCard > div {
	margin: 0vmax 0.5vmax 0.2vmax 1vmax;
	display: flex;
	justify-content: flex-start;
}

.productCard > div > span {
	font-size: 1.2vmax;
	margin: auto;
	color: #5F7161;
	font-weight: lighter;
}

.productCard > p {
	font-size: 2vmax;
	margin-bottom: 0px;
	margin-left: 1.1vmax;
	margin-right: 1.1vmax;
	color: #5F7161;
	font-weight: lighter;
}

.productCard > span {
	font-size: 2.3vmax;
	margin-left: 1vmax;
	margin-top: 0;
	color: #5F7161;
	font-weight: 320;
}

@media all and (max-width: 975px) {

	.product-container {
		margin-top: 5%;
	}

	.productCard img {
		width: 19vmax;
		height: 22vmax;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	.productCard > div {
		margin-left: 2.5vmax;
		display: block;
		margin-block: 0px;
	}

	.productCard > div > span {
		font-size: 1.8vmax;
		margin: auto;
		margin-left: 0.1vmax;
	}

	.productCard > p {
		font-size: 2.5vmax;
		margin-left: 2.9vmax;
		margin-right: 2.9vmax;
		margin-bottom: 0.1vmax;
	}

	.productCard > span {
		font-size: 2.8vmax;
		margin-left: 2.5vmax;
	}
}

@media (max-width: 800px) {
	.productCard {
		width: 25vmax;
		margin: 1.8vmax;
		margin-bottom: 2.5vmax;
	}

	.productCard img {
		width: 25vmax;
		height: 28vmax;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	.productCard > p {
		font-size: 3vmax;
	}
}

@media (max-width: 600px) {

	.product-container {
		margin-top: 8%;
	}

	.productCard {
		width: 35vmax;
		margin: 2.5vmax;
		margin-bottom: 5vmax;
	}

	.productCard img {
		width: 35vmax;
		height: 38vmax;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	.productCard > p {
		font-size: 3.5vmax;
	}
}

.productCard:hover {
	box-shadow: 0 0 5px #0F1111;
	transform: translateY(-1vmax);

}