.productCard {
	width: 20vmax;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: #0F1111;
	margin: 5vmax;
	transition: all 0.5s;
	padding-bottom: 1vmax;
}

.productCard img {
	width: 20vmax;
	height: 25vmax;
	margin-bottom: 10px;
}

.productCard > div {
	margin: 0vmax 0.5vmax 0.5vmax 1vmax;
	display: flex;
	justify-content: flex-start;
}

.productCard > div > span {
	font-size: 1.2vmax;
	margin: auto;
}

.productCard > p {
	font-size: 2.2vmax;
	margin-bottom: 0px;
	margin-left: 1vmax;
}

.productCard > span {
	font-size: 1.5vmax;
	margin-left: 1vmax;
}

@media all and (max-width: 975px) {

	.productCard > div {
		margin: 0.5vmax;
		display: block;
	}

	.productCard > div > span {
		font-size: 1.8vmax;
		margin: auto;
	}

	.productCard > p {
		font-size: 2.2vmax;
		margin-left: 7px;
	}

	.productCard > span {
		font-size: 1.5vmax;
		margin-left: 7px;
	}
}