/* Pagination Style */

.drop-down {
	position: absolute;
	right: 5vmax;
}

.space-below-heading {
	margin-top: 3%;
}

.all-products {
	padding-left: 13vmax;
	padding-right: 13vmax;
}

.paginationBox {
	display: flex;
	justify-content: center;
	margin: 6vmax;
	margin-bottom: 0vmax;
}

.pagination {
	display: flex;
	justify-content: center;
	padding: 0;
}

.page-item {
	list-style: none;
	transition: all 0.3s;
	cursor: pointer;
}

.page-item:first-child {
	border-radius: 5px 0 0 5px;
}

.page-item:last-child {
	border-radius: 0 5px 5px 0;
}

.page-link {
	text-decoration: none;
	font-size: 1.2vmax;
	font-family: 'Comic Neue', cursive;
	font-weight: lighter;
	color: #5F7161;
	transition: all 0.3s;
}

.page-item:hover {
	background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
	color: #5F7161;
}

.pageLinkActive {
	color: white;
	background-color: #5F7161;
}

.pageLinkActive:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(199, 225, 179);
}

.space {
	margin-top: 10%;
}


/* Filter CSS. */
.filters {
	font-family: 'Comic Neue', cursive;
	width: 13vmax;
	position: absolute;
	top: 25vmax;
	left: 4vmax;
}

.category {
	padding: 0%;
	list-style: none;
}

.category li {
	color:rgb(163, 163, 163);
	margin: 0.7vmax;
	cursor: pointer;
	transition: 0.3s;
	
}

.category li:hover {
	color:rgb(226, 137, 69)
}

@media all and (max-width: 1062px) {

	.page-link {
		font-size: 3.2vmax;
	}

	.space {
		margin-top: 13%;
	}

	.all-products {
		margin: auto;
	}
}

@media all and (max-width: 991px) {
	.filters {
		position: static;
		width: 30vmax;
		margin: auto;
	}

	.category li {
		margin: 1.5vmax;
	}

	.all-products {
		padding-left: 0vmax;
		padding-right: 0vmax;
	}
	
	.space-below-heading {
		margin-top: 15%;
	}
}

@media all and (max-width: 800px) {
	.space {
		margin-top: 20%;
	}
}

@media all and (max-width: 570px) {
	.space {
		margin-top: 28%;
	}

	.space-below-heading {
		margin-top: 21%;
	}

	.products-heading-title {
		margin-left: 2.5vmax;
		width: 50%;
	}

	.drop-down {
		right: 1.5vmax;
	}
}