/* Product Card General Style */
.productCard {
	width: 18vmax;
	display: flex;
	flex-direction: column;
	text-decoration: none !important;
	margin: 1.5vmax;
	margin-bottom: 2.5vmax;
	transition: all 0.5s;
	padding-bottom: 1vmax;
	background-color: #e0f4ef;
	border-radius: 15px;
	min-height: 35vmax;
	max-height: 35vmax;
}

/* Image Style */
.productCard img {
	width: 18vmax;
	height: 22vmax;
	margin-bottom: 10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

/* Rating, Number of rating Style */
.productCard>div {
	margin: 0vmax 0.5vmax 0.2vmax 1vmax;
	display: flex;
	justify-content: flex-start;
}

/* Num of Review */
.productCard>div>span {
	font-size: 1.2vmax;
	margin: auto;
	color: #5F7161;
	font-weight: lighter;
}

/* Name Style */
.productCard>p {
	font-size: 1.8vmax;
	margin-bottom: 0px;
	margin-left: 1.1vmax;
	margin-right: 1.1vmax;
	color: #5F7161;
	font-weight: lighter;
}

/* Price Style */
.productCard>span {
	font-size: 2.3vmax;
	margin-left: 1vmax;
	margin-top: 0;
	margin-bottom: 8px;
	color: #5F7161;
	font-weight: 320;
}

@media all and (max-width: 975px) {

	.productCard {
		width: 20vmax;
		margin-bottom: 5vmax;
		min-height: 41vmax;
		max-height: 41vmax;
	}

	/* Image */
	.productCard img {
		width: 20vmax;
		height: 22vmax;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	/* Rating, Number of Review */
	.productCard>div {
		margin-left: 2.5vmax;
		display: block;
		margin-block: 0px;
	}

	/* Number of Review */
	.productCard>div>span {
		font-size: 1.8vmax;
		margin: auto;
		margin-left: 0.1vmax;
	}

	/* Name */
	.productCard>p {
		font-size: 2.5vmax;
		margin-left: 2.9vmax;
		margin-right: 2.9vmax;
		margin-bottom: 0.1vmax;
	}

	/* Price */
	.productCard>span {
		font-size: 2.8vmax;
		margin-left: 2.5vmax;
	}
}

@media (max-width: 800px) {
	.productCard {
		width: 28vmax;
		margin-bottom: 2.5vmax;
		border-radius: 10px;
	}

	.productCard img {
		width: 28vmax;
		height: 30vmax;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.productCard>p {
		font-size: 3vmax;
	}

	/* Name */
	.productCard>p {
		font-size: 2.3vmax;
		margin-left: 2.9vmax;
		margin-right: 2.9vmax;
		margin-bottom: 0.1vmax;
	}

	/* Price */
	.productCard>span {
		font-size: 2.8vmax;
		margin-left: 2.5vmax;
	}
}

@media (max-width: 600px) {

	.productCard {
		width: 35vmax;
		margin: 2.5vmax;
		margin-bottom: 5vmax;
		min-height: 50vmax;
		max-height: 50vmax;
	}

	.productCard img {
		width: 35vmax;
		height: 38vmax;
	}

	.productCard>p {
		font-size: 3.5vmax;
	}

	/* Name */
	.productCard>p {
		font-size: 2.6vmax;
		margin-left: 2.9vmax;
		margin-right: 2.9vmax;
		margin-bottom: 0.1vmax;
	}

	/* Price */
	.productCard>span {
		font-size: 3.5vmax;
		margin-left: 2.5vmax;
	}
}

/* Hover on Card Style */
.productCard:hover {
	box-shadow: 0 0 5px #0F1111;
	transform: translateY(-1vmax);

}