/* Container of the all information on update user page. */
.update-user-container {
	width: 50%;
	margin: auto;
	border: 1px solid #d0d0d0;
	border-radius: 10px;
	padding: 40px;
	margin-top: 4vmax;
	background-color: #e1ebe7;
	font-family: 'Comic Neue', cursive;
}

/* All label font-size and margin-right. */
.update-user-container h4 {
	font-weight: 600;
	margin-right: 10px;
	margin-bottom: 0px;
}

/* Everything is flex. */
.update-user-container > div {
	display: flex;
	flex-direction: row;
	width: 100%;
}

/* Data in the div which is label and info in the same line. */
.user-information-admin-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;;
	width: 80%;
}

/* Width of the label */
.user-information-admin-container > div {
	width: 38%;
}

/* User information font size and if font is more than width then break it down. */
.update-user-container p {
	margin-bottom: 8px;
	font-size: 20px;
	word-wrap: break-word;
	align-items: center;
	margin-top: 1vmax;
}

/* button style. */
.update-user-container button {
	border: none;
	font-family: 'Comic Neue', cursive;
	color: white;
	background-color: rgb(180, 101, 45);
	width: 100%;
	text-align: center;
	padding: 0.5vmax;
	text-decoration: none;
	border-radius: 5px;
	transition: all 0.3s;
	margin-top: 0.7vmax;
}

/* Width and height of popup. */
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
	width: 50%;
	max-height: 300px;
	min-height: 300px;
}

@media all and (max-width: 1000px) {

	/* Container of the all information on update user page. */
	.update-user-container {
		width: 80%;
		padding: 25px;
		margin-bottom: 40px;
	}

	/* Width of the label */
	.user-information-admin-container > div {
		width: 100%;
	}

	/* Data in the div next lines */
	.user-information-admin-container {
		display: block;
		margin-bottom: 15px;
	}

	/* All label font-size. */
	.update-user-container h4 {
		font-size: 3.5vmax;
	}

	/* Information user font size. */
	.update-user-container p {
		font-size: 2.5vmax;
	}

	/* button width and font-size. */
	.update-user-container button {
		width: 100%;
		padding: 7px;
		font-size: 2.5vmax;
	}
}