/* Review Card CSS */

/* Review Card  */
.review-card {
	flex: none;
	width: 97%;
	display: flex;
	align-items: center;
	margin: 1vmax;
	margin-bottom: 2vmax;
	padding: 3vmax;
	padding-left: 9vmax;
	padding-right: 9vmax;
}

/* Image width of user. */
.review-card img {
	width: 5vmax;
}

/* Container of each review. */
.row-review {
	width: 100%;
	transition: all 0.5s;
}

/* Hover on review */
.row-review:hover {
	transform: scale(1.1);
}

/* width of the column */
.row-review > div:last-child {
	width: 68%;
}

/* margin of information from left. */
.column-review {
	margin-left: 3vmax;
}

/* Reviewer name */
.column-review p {
	margin-top: 0.3vmax;
	margin-bottom: 0px;
	font-family: 'Comic Neue';
	font-weight: 700;
}

/* Comment */
.column-review > span {
	font-family: 'Comic Neue', cursive;
	font-weight: 300;
	padding-top: 20%;
	word-wrap: break-word;
}

/* When there is no review of the product then text. */
.product-no-review {
	text-align: center;
	font-family: 'Comic Neue', cursive;
	font-weight: 700;
	font-size: 1.7vmax;
	color:rgb(104, 104, 104)
}